<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Blogify</title>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  
  <!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->
<div >
  <div class="bg-indigo-400 px-4 py-3 text-white">
    <p class="text-center text-sm font-medium">
      Website under development
      <a href="#" class="inline-block underline"></a>
    </p>
  </div>
<header class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-2 py-4 sm:px-3 sm:py-6 lg:px-4">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Welcome Back, <%= user?.name[1] %></h1>

        <p class="mt-1.5 text-sm text-gray-500">Let's write a new blog post! 🎉</p>
      </div>

      <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
        
        <button
          class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
          type="button"
        >
        <a href="/blog/add-user" class="inline-block ">Create Post</a>
          
        </button>
      </div>
    </div>
  </div>
</header>
</div>

</body>
</html>